// config
$max_height: 400px;
$max_width: 112rem;

$color_ccc: #ccc;

// reset
pre {
    max-height: $max_height;
}

button,
input,
select,
textarea {
    border-radius: 0 !important;
}

table {
    overflow: auto;
    border: none;
    display: block
}

table tr:first-child td:last-child {
    width: 100%
}

a {
    text-decoration: none;
}

.markdown-body {
    color: inherit;
    font-size: inherit;
    font-family: inherit;

    li {
        margin-left: 0;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    blockquote {
        font-size: inherit;
    }

    input {
        line-height: initial;
    }
}

// common

// site
.row [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

@include breakpoint(700px) {
    .container {
        max-width: $max_width;
        width: calc(100% - 8rem);

        .section-inner {
            width: 100%;
        }
    }
}

// content


// home
.home {
    .breadcrumbs-wrapper {
        display: none;
    }

    .post-inner {
        padding-top: 0;

    }

    .recent-posts {

        ul {
            margin-left: 0;
        }
    }
}
